VITE_API_BASE_URL=http://localhost:3000/api/v1
VITE_RUNNING_FEATURE_ENABLED=true
VITE_MAP_STYLE_URL_LIGHT=https://tiles.openfreemap.org/styles/bright
VITE_MAP_STYLE_URL_DARK=https://tiles.openfreemap.org/styles/dark
VITE_YANDEX_MAPS_API_KEY=
